.main-nav {
	width: 100%;
	text-align: center;
	color: $main-navigation-color;
	position: fixed;
	z-index: 9;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	background-color: #fff;
	display: none;

	@include at-query ($min, $prelandscape) {
		position: relative;
		width: fit-content;
		top: 0;
		display: block;
	}

	ul {
		list-style-type: none;

		@include at-query ($min, $prelandscape) {
			display: flex;
		}

		li {
			a {
				display: block;
				text-decoration: none;
				line-height: 3;
				padding: 0 1rem;
				border-bottom: 1px solid #f2f2f2;

				&:hover {
					color: $main-navigation-hover-color;
					border-color: $main-navigation-hover-color;
				}

				@include at-query ($min, $prelandscape) {
					line-height: 60px;
					border-bottom: 5px solid transparent;
					margin-left: 2.5rem;
					margin-right: 2.5rem;
					padding: 0;
				}
			}
		}
	}
}