// Weights
$weight-ultralight: 100;
$weight-thin: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 600;
$weight-heavy: 700;
$weight-black: 800;

// Sizes
$text-xxsmall: 1rem;
$text-xsmall: 1.1rem;
$text-small: 1.2rem;
$text-large: 1.3rem;
$text-default: 1.4rem;
$text-xlarge: 1.8rem;
$text-xxlarge: 2.4rem;

// Default Typography
$text-color-default: #bababa;
$font-size-default: 1.4rem;
$line-height-default: 1.5;
$font-family-default: "Roboto";
$font-weight-default: $weight-light;

// Headings
$heading-font-family: "Raleway";
$heading-color: #43474d;
$heading-1-font-size: 4.8rem;
$heading-2-font-size: 3.6rem;
$heading-3-font-size: 2.4rem;
$heading-4-font-size: 2.1rem;
$heading-5-font-size: 1.8rem;
$heading-6-font-size: 1.6rem;

// Label Typography
//$label-font-size: $text-default;
//$label-font-weight: $weight-normal;

// Buttons
//$primary-button-background-color: #EC8029;
//$primary-button-text-color: #ffffff;
//$primary-button-font-size: 2.2rem;
//$primary-button-font-weight: $weight-heavy;

// Success Screen
//$success-color: rgba(152,251,152, 0.5);
//$success-text-color: #417505;

// Navigation typography
$main-navigation-color: #43474d;
$main-navigation-hover-color: #e0005f;
$main-navigation-font-family: "Raleway";

// Buttons
$buttons-primary-color: #e0005f;
$buttons-primary-border-color: #454652;

