/* Flex Helpers */
.make-flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

/* Alignments */
.text-center {
	text-align: center;
}

/* Typography */
.uppercase {
	text-transform: uppercase;
}

/* Design elements */
.with-icon {
	.icon {
		margin-right: 5px;
	}

	.text {
		margin-left: 5px;
	}
}